extends layout

block content
    h1.
        ISB Inventory Item List
    div.table-responsive
      table.table.table-bordered.table-striped
        thead
          tr
            th Name
            th CAS #
            th Phy
            th Size
            th Type
            th Location
            th Notes
        each item, i in ISBinventory
          tr
            td.inventorycell= item.Name
              i.editpencil.fa.fa-pencil
            td.inventorycell= item.CAS
              i.editpencil.fa.fa-pencil
            td.inventorycell= item.Phy
              i.editpencil.fa.fa-pencil
            td.inventorycell= item.Size
              i.editpencil.fa.fa-pencil
            td.inventorycell= item.Type
              i.editpencil.fa.fa-pencil
            td.inventorycell= item.Location
              i.editpencil.fa.fa-pencil
            td.inventorycell= item.Notes
              i.editpencil.fa.fa-pencil
