extends layout

block content
    h1.
        ISB Inventory Item List
    button.btn.btn-primary(type="button") Add Item
    br
    br
    div.table-responsive
      table.table.table-bordered.table-striped
        thead
          tr
            th Name
            th CAS #
            th Phy
            th Size
            th Type
            th Location
            th Notes
        each item, i in ISBinventory
          tr
            td.inventorycell(contenteditable="False")= item.Name
              i.saveEditButton.fa.fa-pencil
            td.inventorycell(contenteditable="False")= item.CAS
              i.saveEditButton.fa.fa-pencil
            td.inventorycell(contenteditable="False")= item.Phy
              i.saveEditButton.fa.fa-pencil
            td.inventorycell(contenteditable="False")= item.Size
              i.saveEditButton.fa.fa-pencil
            td.inventorycell(contenteditable="False")= item.Type
              i.saveEditButton.fa.fa-pencil
            td.inventorycell(contenteditable="False")= item.Location
              i.saveEditButton.fa.fa-pencil
            td.inventorycell(contenteditable="False")= item.Notes
              i.saveEditButton.fa.fa-pencil
